.chat-header {
  box-sizing: border-box;
  height: 100px;
  padding: 0 40px;
  .left-header {
    float: left;
    margin: 0;
    padding: 0;
  }
  .right-header {
    border: 1px solid #38AEF0;
    color: #38AEF0;
    float: right;
    height: 40px;
    line-height: 40px;
    margin-top: 28px;
    padding: 0 20px;
  }
}