.form__mask {
  background-color: #fff;
  float: left;
  height: 50px;
  padding-right: 10px;
  .form__mask__image {
    font-size: 20px;
    line-height: 50px;
  }
  .hidden {
        display: none;
  }
}

