.groups {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  .group {
    box-sizing: border-box;
    padding: 20px 0 40px;
  }
  .group__name {
    color: #fff;
    font-size: 15px;
  }
  .group__message {
    color: #fff;
    font-size: 11px;
    margin-top: 5px;
  }
}