.header__lists {
  display: inline-block;
  float: right;
  li {
    display: list-item;
    text-align: -webkit-match-parent;
    display: inline-block;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: block;
      .header__lists .icon {
        color: #fff;
        font-size: 20px;
        text-rendering: auto;
   }
  }
 }
}