.right-header {
  border: 1px solid #38AEF0;
  color: #38AEF0;
  float: right;
  height: 40px;
  line-height: 40px;
  margin-top: 28px;
  padding: 0 20px;
  .right-header__button {
    color: #38AEF0;
    text-decoration: none;
  }
}